Repository a-kataev/docker-php-nginx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-nginx-1.19, build-php-fpm-ext-7.4, build-php-fpm-ext-7.3, build-php-fpm-ext-7.2, build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3, build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2

Path conditions:
  build-nginx-1.19: any of: nginx-1.19/*
  build-php-fpm-ext-7.4: any of: php-fpm-7.4/Dockerfile
  build-php-fpm-ext-7.3: any of: php-fpm-7.4/Dockerfile
  build-php-fpm-ext-7.2: any of: php-fpm-7.4/Dockerfile
  build-php-nginx-7.4: any of: php-fpm-7.4/*, Dockerfile, docker-entrypoint.sh
  test-php-nginx-7.4: any of: php-fpm-7.4/*, Dockerfile, docker-entrypoint.sh
  publish-php-nginx-7.4: any of: php-fpm-7.4/*, Dockerfile, docker-entrypoint.sh
  build-php-nginx-7.3: any of: php-fpm-7.3/*, Dockerfile, docker-entrypoint.sh
  test-php-nginx-7.3: any of: php-fpm-7.3/*, Dockerfile, docker-entrypoint.sh
  publish-php-nginx-7.3: any of: php-fpm-7.3/*, Dockerfile, docker-entrypoint.sh
  build-php-nginx-7.2: any of: php-fpm-7.2/*, Dockerfile, docker-entrypoint.sh
  test-php-nginx-7.2: any of: php-fpm-7.2/*, Dockerfile, docker-entrypoint.sh
  publish-php-nginx-7.2: any of: php-fpm-7.2/*, Dockerfile, docker-entrypoint.sh

updated php-fpm to 7.4.10, 7.3.22
  php-fpm-7.3/Dockerfile
  php-fpm-7.4/Dockerfile
Due: build-php-fpm-ext-7.4, build-php-fpm-ext-7.3, build-php-fpm-ext-7.2, build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3

updated gomplate to 3.8.0
  Dockerfile
Due: build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3, build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2

add default value for SERVICE_MODE variable
  docker-entrypoint.sh
Due: build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3, build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2

updated php-fpm to 7.4.11, 7.3.23, 7.2.34 and nginx to 1.19.3
  nginx-1.19/Dockerfile
  php-fpm-7.2/Dockerfile
  php-fpm-7.3/Dockerfile
  php-fpm-7.4/Dockerfile
Due: build-nginx-1.19, build-php-fpm-ext-7.4, build-php-fpm-ext-7.3, build-php-fpm-ext-7.2, build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3, build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2

add ionecube extension
  Dockerfile
Due: build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3, build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2

updated php-fpm to 7.4.12, 7.3.24 and nginx to 1.19.4
  nginx-1.19/Dockerfile
  php-fpm-7.3/Dockerfile
  php-fpm-7.4/Dockerfile
Due: build-nginx-1.19, build-php-fpm-ext-7.4, build-php-fpm-ext-7.3, build-php-fpm-ext-7.2, build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3

updated debian base image to 10.6
  nginx-1.19/Dockerfile
Due: build-nginx-1.19

updated php-fpm to 7.4.13, 7.3.25 and nginx to 1.19.5
  nginx-1.19/Dockerfile
  php-fpm-7.3/Dockerfile
  php-fpm-7.4/Dockerfile
Due: build-nginx-1.19, build-php-fpm-ext-7.4, build-php-fpm-ext-7.3, build-php-fpm-ext-7.2, build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3

updated debian base image to 10.7
  nginx-1.19/Dockerfile
Due: build-nginx-1.19

updated nginx to 1.19.6
  nginx-1.19/Dockerfile
Due: build-nginx-1.19

removed php-fpm 7.2
  .gitlab-ci.yml
  php-fpm-7.2/Dockerfile
  php-fpm-7.2/test-php-ext.sh
Due: build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2

fixed changes rules
  .gitlab-ci.yml
Due: none

fixed ionecube extension regexp
  Dockerfile
Due: build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3, build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2

updated php-fpm to 7.4.14, 7.3.26
  php-fpm-7.3/Dockerfile
  php-fpm-7.4/Dockerfile
Due: build-php-fpm-ext-7.4, build-php-fpm-ext-7.3, build-php-fpm-ext-7.2, build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3

updated gomplate to 3.9.0
  Dockerfile
Due: build-php-nginx-7.4, test-php-nginx-7.4, publish-php-nginx-7.4, build-php-nginx-7.3, test-php-nginx-7.3, publish-php-nginx-7.3, build-php-nginx-7.2, test-php-nginx-7.2, publish-php-nginx-7.2
